MNIST.tar.gz
MNIST.tar.gz.2
MNIST.tar.gz.1
MNIST.tar.gz.3
MNIST/processed/test.pt
MNIST/processed/training.pt
MNIST/raw/t10k-images-idx3-ubyte
MNIST/raw/t10k-images-idx3-ubyte.gz
MNIST/raw/t10k-labels-idx1-ubyte
MNIST/raw/t10k-labels-idx1-ubyte.gz
MNIST/raw/train-images-idx3-ubyte
MNIST/raw/train-labels-idx1-ubyte
MNIST/raw/train-labels-idx1-ubyte.gz
MNIST/raw/train-images-idx3-ubyte.gz
MNIST/.DS_Store
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/processed/training.pt
data/FashionMNIST/processed/test.pt
data/FashionMNIST/.DS_Store
data/.DS_Store
.DS_Store
.ipynb_checkpoints/CNN_Fashion_MNIST-checkpoint.ipynb
.ipynb_checkpoints/pytorch_tutorial-checkpoint.ipynb
.ipynb_checkpoints/simple CNN-checkpoint.ipynb
.ipynb_checkpoints/simple fully connected neural network-checkpoint.ipynb
.ipynb_checkpoints/simple RNN - Bi-LSTM-checkpoint.ipynb
.ipynb_checkpoints/tmp-checkpoint.ipynb
model.pth
